### Appendix : 분석문제정의 및 Feature Engineering 연습

정시 배송 여부(Y) 데이터

https://www.kaggle.com/datasets/prachi13/customer-analytics

- ID: ID Number of Customers.

- Warehouse block: The Company have big Warehouse which is divided in to block such as A,B,C,D,F.

- Mode of shipment:The Company Ships the products in multiple way such as Ship, Flight and Road.

- Customer care calls: The number of calls made from enquiry for enquiry of the shipment.

- Customer rating: The company has rated from every customer. 1 is the lowest (Worst), 5 is the highest (Best).

- Cost of the product: Cost of the Product in US Dollars.

- Prior purchases: The Number of Prior Purchase.

- Product importance: The company has categorized the product in the various parameter such as low, medium, high.

- Gender: Male and Female.

- Discount offered: Discount offered on that specific product.

- Weight in gms: It is the weight in grams.

- Reached on time: It is the target variable, where 1 Indicates that the product has NOT reached on time and 0 indicates it has reached on time.

In [112]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")



display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [113]:
x_train['Product_importance'].unique()

array(['high', 'low', 'medium'], dtype=object)

In [114]:
y_train

        ID  Reached.on.Time_Y.N
0     6045                    0
1       44                    1
2     7940                    1
3     1596                    1
4     4395                    1
...    ...                  ...
6593  8610                    1
6594  3390                    1
6595  5150                    1
6596  3950                    0
6597  5969                    0

[6598 rows x 2 columns]

In [157]:
y_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv")
y_test.set_index()

TypeError: DataFrame.set_index() missing 1 required positional argument: 'keys'

In [159]:
y_test = y_test.set_index('ID')

In [160]:
y_train = y_train.set_index('ID')

In [116]:
x_train['Warehouse_block'].unique()

array(['A', 'F', 'C', 'B', 'D'], dtype=object)

In [117]:
x_train['Gender'].unique()

array(['F', 'M'], dtype=object)

- 분석 문제 정의

ex. 유저에게 재시간 도착 가능한 물건 추천

In [118]:
mapping_dict = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'F': 5}
x_train['Warehouse_block'] = x_train['Warehouse_block'].map(mapping_dict)

In [119]:
x_train['Warehouse_block'].unique()

array([1, 5, 3, 2, 4], dtype=int64)

In [120]:
x_train['Warehouse_block']

0       1
1       5
2       5
3       5
4       1
       ..
6593    5
6594    5
6595    5
6596    5
6597    3
Name: Warehouse_block, Length: 6598, dtype: int64

In [121]:
pd.get_dummies(x_train, columns= ['Mode_of_Shipment'])
x_train['Mode_of_Shipment'].unique()

array(['Flight', 'Ship', 'Road'], dtype=object)

In [122]:
mapping_dict = {'Flight': 1, 'Ship': 2, 'Road': 3}
x_train['Mode_of_Shipment'] = x_train['Mode_of_Shipment'].map(mapping_dict)

In [123]:
x_train['Mode_of_Shipment']

0       1
1       2
2       3
3       2
4       1
       ..
6593    3
6594    2
6595    2
6596    3
6597    2
Name: Mode_of_Shipment, Length: 6598, dtype: int64

In [124]:
mapping_dict = {'low': 1, 'medium': 2, 'high': 3}
x_train['Product_importance'] = x_train['Product_importance'].map(mapping_dict)
x_train['Product_importance']

0       3
1       1
2       3
3       2
4       1
       ..
6593    2
6594    2
6595    2
6596    2
6597    2
Name: Product_importance, Length: 6598, dtype: int64

In [125]:
mapping_dict = {'F': 0, 'M': 1}
x_train['Gender'] = x_train['Gender'].map(mapping_dict)
x_train['Gender']

0       0
1       1
2       1
3       0
4       1
       ..
6593    1
6594    1
6595    0
6596    0
6597    1
Name: Gender, Length: 6598, dtype: int64

In [126]:
x_train

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,1,1,4,3,266,5,3,0,5,1590
1,44,5,2,3,1,174,2,1,1,44,1556
2,7940,5,3,4,1,154,10,3,1,10,5674
3,1596,5,2,4,3,158,3,2,0,27,1207
4,4395,1,1,5,3,175,3,1,1,7,4833
...,...,...,...,...,...,...,...,...,...,...,...
6593,8610,5,3,5,2,221,6,2,1,4,1952
6594,3390,5,2,4,5,256,3,2,1,10,4504
6595,5150,5,2,3,1,217,4,2,0,1,5761
6596,3950,5,3,4,5,174,3,2,0,8,5576
6597,5969,3,2,6,2,257,4,2,1,1,1513

- Feature Engineering

In [127]:
mapping_dict = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'F': 5}
x_test['Warehouse_block'] = x_test['Warehouse_block'].map(mapping_dict)

In [128]:
mapping_dict = {'Flight': 1, 'Ship': 2, 'Road': 3}
x_test['Mode_of_Shipment'] = x_test['Mode_of_Shipment'].map(mapping_dict)

In [129]:
mapping_dict = {'low': 1, 'medium': 2, 'high': 3}
x_test['Product_importance'] = x_test['Product_importance'].map(mapping_dict)
x_test['Product_importance']

0       1
1       2
2       2
3       1
4       1
       ..
4396    2
4397    2
4398    2
4399    2
4400    2
Name: Product_importance, Length: 4401, dtype: int64

In [130]:
mapping_dict = {'F': 0, 'M': 1}
x_test['Gender'] = x_test['Gender'].map(mapping_dict)
x_test['Gender']

0       0
1       0
2       0
3       1
4       0
       ..
4396    1
4397    1
4398    0
4399    0
4400    1
Name: Gender, Length: 4401, dtype: int64

In [131]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   int64
 2   Mode_of_Shipment     6598 non-null   int64
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   int64
 8   Gender               6598 non-null   int64
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(10), object(1)
memory usage: 567.1+ KB

In [132]:
x_train[x_train['Customer_care_calls'] == '$7']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
30,7721,3,2,$7,1,285,4,1,1,2,1516
38,6541,4,2,$7,5,133,5,1,0,7,1239
42,7453,4,2,$7,4,295,4,1,0,10,1217
121,9151,4,2,$7,5,255,4,1,0,9,1367
130,9445,4,3,$7,1,269,5,2,0,5,1402
...,...,...,...,...,...,...,...,...,...,...,...
6412,9626,5,2,$7,4,301,4,1,0,1,1150
6507,6877,4,2,$7,2,279,4,2,1,5,1210
6510,8556,5,2,$7,4,287,4,1,1,9,1667
6531,7207,4,2,$7,3,305,4,2,0,3,1426
6560,9884,5,2,$7,4,277,5,1,1,4,1373

In [133]:
x_test[x_test['Customer_care_calls'] == '$7']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
21,7751,3,2,$7,1,257,4,1,1,1,1405
41,4759,4,2,$7,2,291,4,1,0,8,1275
80,4553,3,2,$7,5,273,4,1,0,7,1364
94,5762,5,1,$7,3,244,5,2,0,10,1913
151,7506,5,2,$7,3,305,4,1,0,3,1872
...,...,...,...,...,...,...,...,...,...,...,...
4158,8916,5,1,$7,4,270,4,2,0,5,1735
4184,7502,5,2,$7,1,265,4,2,0,3,1357
4267,6612,5,2,$7,1,244,4,1,1,8,1817
4313,6039,1,1,$7,1,255,5,2,1,10,1238
4340,9945,1,2,$7,5,268,4,2,0,9,1754

In [134]:
x_train['Customer_care_calls'] = x_train['Customer_care_calls'].replace('[\$,]', '', regex=True).astype(int)

In [135]:
x_test['Customer_care_calls'] = x_test['Customer_care_calls'].replace('[\$,]', '', regex=True).astype(int)

In [136]:
x_train['Customer_care_calls'] = x_train['Customer_care_calls'].fillna(int(x_train['Customer_care_calls'].mean()))

In [137]:
x_test['Customer_care_calls'] = x_test['Customer_care_calls'].fillna(int(x_test['Customer_care_calls'].mean()))

In [153]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   int64
 2   Mode_of_Shipment     4401 non-null   int64
 3   Customer_care_calls  4401 non-null   int32
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   int64
 8   Gender               4401 non-null   int64
 9   Discount_offered     4401 non-null   int64
 10  Weight_in_gms        4401 non-null   int64
dtypes: int32(1), int64(10)
memory usage: 361.1 KB

- 모델링

In [162]:
dt_clf1 = DecisionTreeClassifier(random_state=0)

dt_clf1.fit(x_train, y_train)

DecisionTreeClassifier(random_state=0)

In [163]:
import numpy as np

# ...

y_pred = dt_clf1.predict(x_test)

# 1의 개수와 0의 개수 세기
count_1 = np.count_nonzero(y_pred == 1)
count_0 = np.count_nonzero(y_pred == 0)

print(f"도착: {count_1}, 안도착: {count_0}")

도착: 2618, 안도착: 1783

In [165]:
# Accuracy 측정
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6428084526244036

- 평가

In [166]:
# precision, recall, f1 score 측정
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, y_pred, average='binary')

(0.7012987012987013, 0.6991622239146992, 0.7002288329519452, None)